/* Main background Color*/
body {
	background-color: hsl(218, 28%, 13%);
	color: hsl(0, 0%, 100%);
	font-family: Open Sans, Raleway;
	font-size: 14px;
}

/* Headings and Call to actions */
#fontStyle {
	font-family: Raleway;
}

.cardImg {
	border-radius: 360px;
	height: 50px;
	width: 50px;
}

/* Testimonials */
.testimonials {
	background-color: hsl(219, 30%, 18%);
}

/* Footer */
#footer {
	background-color: hsl(216, 53%, 9%);
}

.links {
	color: white;
}

.links:hover {
	text-decoration: none;
}

.br {
	border-radius: .50rem;
}

i {
	font-size: 25px;
}

/* Desktop View */
#upperHalf {
	background-color: hsl(219, 30%, 18%);
	background-image: url(imgs/bg-curvy-desktop.svg);
	background-repeat: no-repeat;
	background-position: bottom;
	max-width: 100%;
	height: auto;
}

.cards {
	max-width: 400px;
}

@media (min-width: 768px){
	#spacing {
		margin-left: .40rem !important;
		margin-right: .40rem !important;
	}
}


/* Mobile View */

@media (max-width: 767px) {
	.img-fluid1 {
		width: 140px;
		height: 40px;
	}
	.C {
		width: 380px;
		height: 180px;
	}
	.quotes {
		margin-left: 30px;
	}
	#textMedia {
		margin-bottom: 20px;
	}
	#signUp {
		min-height: 200px;
	}
}